{% extends "_base.html" %}
{% block content %}

<h1>Request Email Password Change</h1>

<br />
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
  {{ form.mailbox(placeholder="username") }}
    <span class="error">
      {% if form.mailbox.errors %}
        {% for error in form.mailbox.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Send password reset link</button>
</form>

<p>Enter your Opalstack email username and address.
    A password reset link will be sent to your email addrerss.</p>

{% endblock %}